nav {
  position: sticky;
  height: 4rem;
  width: 90vw;
  margin: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
.site-links {
  display: flex;
}
.site-links a {
  padding: 1rem;
  padding-right: 0;
}
.nav-border {
  width: 90vw;
  margin: auto;
  border-bottom: 1px solid #f5eee684;
}
