/* GLOBAL SELECTORS */
/* Fonts */
@font-face {
  font-family: droid;
  src: url(./assets/droid.otf);
}
@font-face {
  font-family: tusker-grotesk;
  src: url(./assets/TuskerGrotesk-1500Medium.otf);
}

html {
  scroll-behavior: smooth;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
/*
:root {
  font-family: 'Hanken Grotesk', sans-serif;
  color-scheme: light dark;
  background-color: #131313;
  background-image: url(./assets/1Alma-Tadema_Reading_from_Homer.jpg);
  background-size: cover;

  font-synthesis: none;
} */

a {
  font-weight: 500;
  text-decoration: inherit;
  color: #f5eee6;
}
a:hover {
  color: #f3dbc7;
  text-decoration: underline;
}
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Hanken Grotesk', sans-serif;
  color: #f5eee6;
  background-color: #131313;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Hanken Grotesk', sans-serif;
}
h4 {
  font-family: droid;
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
  color: #f5eee6;
}
button {
  background: #f5eee6;
  border: 1px solid #f5eee6;
  border-radius: 24px;
  padding: 0 1rem;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 2rem;
  color: #131313;
  text-transform: uppercase;
}
button p {
  margin: 0;
}
.page {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 4rem;
}
