.projects-page {
  width: 100vw;
  height: 100vh;
}
.project-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 3rem;
  border: 1px solid rgba(245, 238, 230, 0.5);
  border-radius: 2px;
  padding: 2rem;
}
.project-title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: baseline;
}
.project-elements {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.card-content h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Hanken Grotesk', sans-serif;
  align-self: self-start;
}
.card-content p {
  align-self: self-start;
}
.project-card img {
  width: 400px;
  height: 220px;
  border-radius: 2px;
}
