.projects-page {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}
.project-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 3rem;
  border: 1px solid rgba(245, 238, 230, 0.5);
  border-radius: 2px;
  padding: 2rem;
}
.project-title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.project-title a {
  padding-left: 1.5rem;
  font-size: 2rem;
}
.project-elements {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.project-elements p {
  text-align: left;
}
.card-content h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Hanken Grotesk', sans-serif;
  align-self: self-start;
}
.card-content p {
  align-self: self-start;
}
.project-elements img {
  max-width: 50%;
  object-fit: contain;
  border-radius: 2px;
}
.project-text-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: migra;
  font-size: 1rem;
  align-items: center;
  margin-right: 12px;
}
.project-text-footer a {
  align-items: center;
}
.project-text-footer a:hover {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .project-title {
    flex-direction: column;
  }
  .project-elements {
    flex-direction: column;
  }
  .project-card img {
    max-width: 100%;
  }
  .project-text-footer {
    margin-right: 0;
  }
}
